<header id="top-header">
  <img src="/images/site/icon.png" alt="icon of CSE Motors">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/">My Account</a>
    </div>
  </header>