<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="container">
    <picture>
        <source srcset="images/vehicles/delorean-tn.jpg" media="(max-width: 500px)" width="237">
        <source srcset="images/vehicles/delorean.jpg" media="(max-width: 700px)" width="420">
        <img id="delorean" src="/images/vehicles/delorean.jpg" alt="delorean">
    </picture>
    <div id="own">
        <p id="dmc">DMC Delorean</p>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img src="/images/site/own_today.png" alt="Own Today">
    </div>
</div>

<div id="upgrades-reviews">
    <div id="upgrades">
        <h2 id="no-grid">Delorean Upgrades</h2>
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="Image of Flux Capacitor">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="Image of Flame Decals">
            <figcaption>Flame Decals</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Image of Bumper Stickers">
            <figcaption>Bumper Stickers</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="Image of Hub Caps">
            <figcaption>Hub Caps</figcaption>
        </figure>
    </div>
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and love it!" (5/5)</li>
        </ul>
    </div>
</div>
